.container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-repositories{
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

.repository{
  background-color: #fff;
  color: #000;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.repository span{
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.repository a{
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
  transition: all 0.5s;
}

.repository a:hover{
  transform: scale(1.1)
}